
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Topbar Styles */
.announcement-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(27, 64, 87, 1);
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.announcement-bar-social-logo{
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.announcement-bar-text{
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 700;
}

.announcement-bar-rightside{
    padding-right: 10px;
}

.announcement-bar-rightside select{
    background: transparent;
    border: none;
    color: white;
}

.announcement-bar-rightside option{
    background: white;
    border: none;
    color: black;
}


/* Responsive */
@media only screen and (max-width:990px) {
    .announcement-bar-social-logo, .announcement-bar-rightside{
        display: none;
    }
    .announcement-bar{
        justify-content: center;
    }
  }


/* Header Styles */
.header{
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
}
.search-bar{
}

.search-input{
    background-color: #f8f8f8;
    border-color: transparent;
    font-size: 16px;
    padding: 10px 10px;
}

.search-button{
    border: none;
    transform:translate(-130%);
}

.navber{
    display: flex;
    justify-content: center;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    color: rgba(32,32,32,1);
    padding-bottom: 20px;
}

.navber ul{
    display: flex;
    gap: 40px;
}

.navber ul li{
    list-style: none;
}

.navber li:hover {
    color: rgba(32, 32, 32, 0.75);
    cursor: pointer;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
    transition: ease;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }  